<table style="width:600px;height:570px;background-image: url(../../../../images/maps/A001.png);">

  <tr>
    <div style="width: 15px;height: 15px;">X</div><div style="width: 15px;height: 15px;">X</div><div style="width: 15px;height: 15px;">X</div>
  </tr>
  <tr>
    <div style="width: 15px;height: 15px;">X</div><div style="width: 15px;height: 15px;">X</div><div style="width: 15px;height: 15px;">X</div>
  </tr>
  <tr>
    <div style="width: 15px;height: 15px;">X</div><div style="width: 15px;height: 15px;">X</div><div style="width: 15px;height: 15px;">X</div>
  </tr>
  <tr>
    <div style="width: 15px;height: 15px;">X</div><div style="width: 15px;height: 15px;">X</div><div style="width: 15px;height: 15px;">X</div>
  </tr>

</table>