<div class="ui-g" style="text-align: center;font-size: 20px;"> Fire & Soul</div>
<hr>
<div class="ui-g">

  <div class="ui-g-1">
    <a routerLink="" routerLinkActive="active">Home</a>
  </div>
  <div class="ui-g-1">
    <a routerLink="/stat" routerLinkActive="active">Stat</a>
  </div>
  <div class="ui-g-1">
    <a routerLink="/travel" routerLinkActive="active">Travel</a>
  </div>
  <div class="ui-g-1">
    <a routerLink="/battle" routerLinkActive="active">Battle</a>
  </div>
  <div class="ui-g-1">
    <a routerLink="/googlemap" routerLinkActive="active">GoogleMap</a>
  </div>
  <div class="ui-g-1">
    <a routerLink="/firebase" routerLinkActive="active">FireBase</a>
  </div>
  <div class="ui-g-1">
    <a routerLink="/tester" routerLinkActive="active">Tester</a>
  </div>
</div>


<hr>

