<div style="text-align: center">
  <div align="center"> Fire & Soul</div>
  <hr>
</div>

<div>

  <div class="ui-g-1" *ngIf="d==1">
    <a routerLink="" routerLinkActive="active">Home</a>
  </div>
  <div class="ui-g-1" *ngIf="d==1">
    <a routerLink="/fireandsoul" routerLinkActive="active">FireAndSoul</a>
  </div>
  <div class="ui-g-1" *ngIf="d==1">
    <a></a>
  </div>
  <div class="ui-g-1" *ngIf="d==1">
    <a></a>
  </div>
  <div class="ui-g-1" *ngIf="d==1">
    <a></a>
  </div>
  <div class="ui-g-1" *ngIf="d==1">
    <a></a>
  </div>
  <div class="ui-g-1" *ngIf="d==1">
    <a></a>
  </div>
  <div class="ui-g-1" *ngIf="d==1">
    <a></a>
  </div>
  <div class="ui-g-1" *ngIf="d==1">
    <a></a>
  </div>
  <div class="ui-g-1" *ngIf="d==1">
    <a></a>
  </div>
  <div class="ui-g-1" *ngIf="d==1">
    <a></a>
  </div>


  <div class="ui-g-1" *ngIf="d==2">
    <a routerLink="" routerLinkActive="active">Home</a>
  </div>
  <div class="ui-g-1" *ngIf="d==2">
    <a routerLink="/googlemap" routerLinkActive="active">GoogleMap</a>
  </div>
  <div class="ui-g-1" *ngIf="d==2">
    <a routerLink="/firebase" routerLinkActive="active">FireBase</a>
  </div>
  <div class="ui-g-1" *ngIf="d==2">
    <a routerLink="/tester" routerLinkActive="active">Tester</a>
  </div>
  <div class="ui-g-1" *ngIf="d==2">
    <a routerLink="/tutorial01" routerLinkActive="active">Tutorial01</a>
  </div>
  <div class="ui-g-1" *ngIf="d==2">
    <a routerLink="/tutorialEmp" routerLinkActive="active">TutorialEmp</a>
  </div>
  <div class="ui-g-1" *ngIf="d==2">
    <a></a>
  </div>
  <div class="ui-g-1" *ngIf="d==2">
    <a></a>
  </div>
  <div class="ui-g-1" *ngIf="d==2">
    <a></a>
  </div>
  <div class="ui-g-1" *ngIf="d==2">
    <a></a>
  </div>
  <div class="ui-g-1" *ngIf="d==2">
    <a></a>
  </div>


  <div class="ui-g-1">
    <p-dropdown [options]="dd" [(ngModel)]="d"></p-dropdown>
  </div>

</div>

<br>
<br>
<hr>

