
<div class="ui-g">
    <div class="ui-g-12" style="text-align: center"><h1>{{text}}</h1></div>
    <div class="ui-g-5" align="right">
        <div class="HPbar" align="left">
            <div [style.background-color]="getStyle(percentHP)" [style.width]="getPercent('HP')">
                <span style="position: static;color: white">{{HP}}/{{maxHP}}</span>
            </div>
        </div>
        <div class="MPbar" align="left" style="margin-bottom: 3px">
            <div style="background-color: mediumblue" [style.width]="getPercent('MP')">
                <span style="position: static;color: white">{{MP}}/{{maxMP}}</span>
            </div>
        </div>
        <div style="width: 100px;height: 120px" align="center">
            <img src="../../images/chars/warrior.png" alt="" style="width: 100px;height: 120px">
        </div>

        <div>{{textAtPlayer}}</div>
    </div>
    <div class="ui-g-2">
    </div>
    <div class="ui-g-5" align="left">
        <div class="HPbar" align="left">
            <div [style.background-color]="getStyle(epercentHP)" [style.width]="getPercent('eHP')">
                <span style="position: static;color: white">{{eHP}}/{{emaxHP}}</span>
            </div>
        </div>
        <div class="MPbar" align="left" style="margin-bottom: 3px">
            <div style="background-color: mediumblue" [style.width]="getPercent('eMP')">
                <span style="position: static;color: white">{{eMP}}/{{emaxMP}}</span>
            </div>
        </div>
        <div style="width: 100px;height: 120px;" align="center">
            <img src="../../images/monsters/1.gif" alt="" style="margin-top: 30px">
        </div>

        <div>{{textAtEnemy}}</div>
    </div>
</div>


<div>
    <button pButton type="text" (click)="action(1,1)" label="[Z] Attack"
            [disabled]="endgame||onbattle" style="width: 150px;text-align: left;"
    ></button><br><br>
    <button pButton type="text" (click)="action(100,3)" label="[1] Use: Potion({{potion}})"
            [disabled]="endgame||onbattle" style="width: 300px;text-align: left;"
    ></button><br><br>
    <button pButton type="text" (click)="action(1,2)" label="[A] Skill: Bash (MP:5)"
            [disabled]="endgame||onbattle||MP<5" style="width: 300px;text-align: left;"
    ></button><br><br>
    <button pButton type="text" (click)="action(2,2)" label="[S] Skill: Ultimate Sword (MP:50)"
            [disabled]="endgame||onbattle||MP<50" style="width: 300px;text-align: left;"
    ></button><br><br>
</div>